Apache2 seems to reject Http requests

When trying something like

```
Http.get("http://myserver.com/games")
```

I have a 400 status. Apache logs seem strange:

```
[Thu Oct 11 18:12:06 2012] [error] [client 194.78.223.33] client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): /games
```
